@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,600');

html {
    box-sizing: border-box;
    font-size:62.5%;
    font-family: 'Open Sans','Sans-serif' !important;
}
.site-main{
    padding: 0px 35px 0px 35px;
    padding-top:0;
}
body{
    font-size:1.7rem;
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    overflow-x: hidden;
}
.sr-only{
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}
button{
    color: #000;
    border: solid 2px #000;
    width: 33.5rem;
    height: 6rem;
    position: relative;
    font-size: 2.5rem;
}
hr{
    height: 4px;
    color: #000;
    background: #000;
    border: none;
    margin-top:30px;
}
button:hover,
button:focus{
    color: #FFF;
}

button p{
    position: absolute;
    display: block;
    top: 50%;
    margin: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
#primary{
  /* min-height: 25vh; */
}
header{
    margin-top: 4rem;
    margin-bottom: 4rem;
    position: relative;
}
header #quick-link{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}
header #quick-link li{
    position: absolute;
    top: 0;
    left: 0;
}
header #quick-link li a{
    opacity: 0;
    transform: translateY(-100%);
}
header #quick-link li a:focus{
    opacity: 1;
    top: 0;
    transform: none;
}
header #home-link{
    width: 50rem;
    margin-left: 4rem;
    display: inline-block;
}
body:not(.home) header #home-link{
    width: 50rem;
}
header #home-link img{
    width: 100%;
    height: auto;
}
header .menu-info{
    display: inline-block;
    height: 12rem;
    position: absolute;
    bottom: 14rem;;
    right: 4rem;
    font-size:1.5rem;
}
header .menu-info div{
    display: inline-block;
    position: relative;
    height: 100%;
}
header .menu-info div:first-child {
    width: 34rem;
    height: 100%;
}
header .menu-info div:first-child a{
    width: calc((50% - 2px) - 0.6rem);
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    height: 100%;
    margin-right: 0.6rem;
}
header .menu-info div:first-child a img{
    width: 40%;
    transition: transform 0.1s linear;
    transform: rotate(0deg);
    left: 30%;
    position: absolute;
    top: 1.3rem;
}
header .menu-info div:first-child a:focus img,
header .menu-info div:first-child a:hover img{
    transform: rotate(15deg);
}
header .menu-info div:first-child a:nth-child(2):focus img,
header .menu-info div:first-child a:nth-child(2):hover img{
    transform: rotate(-15deg);
}
header .menu-info div:first-child a p{
    position: absolute;
    width: 100%;
    bottom: 2rem;
    margin: 0;
}
header .menu-info div:first-child a:focus p,
header .menu-info div:first-child a:hover p{
    font-weight: bold
}
header .menu-info div:nth-child(2) {
    width: 4.5rem;
}
header .menu-info div:nth-child(2) a{
    display: block;
    height: calc(50% - 0.5rem);
    margin-bottom: 1rem;
    width: 100%;
    position: relative;
}
header .menu-info div:nth-child(2) a img{
    width: 60%;
    left: 20%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: linear 0.1s all;
}
header .menu-info div:nth-child(2) a:hover img,
header .menu-info div:nth-child(2) a:focus img{
    width: 80%;
    left: 10%;
}
/** MENU **/
header div.menu-principal{
    width: calc(100% - 8rem);
    margin-left: 4rem;
    margin-top: 6rem;
    height: 8rem;
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
    position: relative;
    z-index:10;
}
header div.menu-principal nav{
    width: 100%;
    height: 100%;
}
header div.menu-principal nav #menu-button{
    display: none;
}
header div.menu-principal nav #menu-nav{
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
}
header div.menu-principal #menu-nav > li{
    height: 100%;
    display: inline-block;
    position: relative;
    width: calc(90%/4);
    vertical-align: top;
}

header div.menu-principal #menu-nav li ul.sub-menu,
header div.menu-principal #menu-nav li ul.sub-menu li ul.sub-menu{
    /* display: none; */
    transform: scale(1,0);
    list-style:none;
    z-index: 10;
}
header div.menu-principal #menu-nav li ul.sub-menu{
    width: 160%;
    transform-origin: top;
    transition: transform 0.2s linear;
    margin-top: 0px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-top: 2px solid #000;
    background:#FFF;
    padding: 0;
}
header div.menu-principal #menu-nav li ul.sub-menu li ul.sub-menu{
    width: 100%;
    transform-origin: left;
    transition: transform 0.2s linear;
    left: 100%;
    position: absolute;
    margin-top: -33px;
    background: #FFF;
    padding: 0px;
    border: 1px solid #000;
}
header div.menu-principal #menu-nav > li > ul.sub-menu > li,
header div.menu-principal #menu-nav > li > ul.sub-menu > li > ul.sub-menu > li{
    padding:10px;
}
header div.menu-principal #menu-nav > li > ul.sub-menu > li > ul.sub-menu > li{
    font-size:1.5rem;
}

header div.menu-principal #menu-nav > li > a{
    text-decoration : none;
    height: 100%;
    line-height: 3.5;
    text-align: center;
    width: 100%;
    display: block;
    color: #000;
    font-size:2.4rem;
}

header div.menu-principal #menu-nav > li > a:hover,
header div.menu-principal #menu-nav > li > a:focus,
header div.menu-principal #menu-nav > li > ul.sub-menu > li > a:hover,
header div.menu-principal #menu-nav > li > ul.sub-menu > li > a:focus,
header div.menu-principal #menu-nav > li > ul.sub-menu > li > ul.sub-menu > li > a:hover,
header div.menu-principal #menu-nav > li > ul.sub-menu > li > ul.sub-menu > li > a:focus{
    background: #000;
    color: #FFF;
}

header div.menu-principal #menu-nav li > a:hover + ul.sub-menu,
header div.menu-principal #menu-nav > li:hover > ul.sub-menu{
    transform: scale(1,1);
    transform-origin: top;

}

header div.menu-principal #menu-nav > li:focus-within > ul.sub-menu{
    transform: scale(1,1);
    transform-origin: top;
}

header div.menu-principal #menu-nav > li.focus-within > ul.sub-menu{
    transform: scale(1,1);
    transform-origin: top;

}

header div.menu-principal #menu-nav > li > ul.sub-menu > li:hover > ul.sub-menu{
    transform: scale(1,1);
    transform-origin: top;
}


header div.menu-principal #menu-nav > li > ul.sub-menu > li:focus-within > ul.sub-menu{
    transform: scale(1,1);
    transform-origin: top;
}
header div.menu-principal #menu-nav > li > ul.sub-menu > li:hover > ul.sub-menu{
    transform: scale(1,1);
    transform-origin: top;
}
header div.menu-principal #menu-nav > li > ul.sub-menu > li.focus-within > ul.sub-menu{
    transform: scale(1,1);
    transform-origin: top;

}

header div.menu-principal #menu-nav > li:hover,
header div.menu-principal #menu-nav > li:hover > a,
header div.menu-principal #menu-nav > li > ul.sub-menu > li:hover > a,
header div.menu-principal #menu-nav > li > ul.sub-menu > li:hover,
header div.menu-principal #menu-nav > li > ul.sub-menu > li > ul.sub-menu > li:hover > a,
header div.menu-principal #menu-nav > li > ul.sub-menu > li > ul.sub-menu > li:hover{
    background: #000;
    color: #FFF;
}

header div.menu-principal #menu-nav > li:focus-within > a,
header div.menu-principal #menu-nav > li:focus-within,
header div.menu-principal #menu-nav > li > ul.sub-menu > li:focus-within > a,
header div.menu-principal #menu-nav > li > ul.sub-menu > li:focus-within,
header div.menu-principal #menu-nav > li > ul.sub-menu > li > ul.sub-menu > li:focus-within > a,
header div.menu-principal #menu-nav > li > ul.sub-menu > li > ul.sub-menu > li:focus-within{
    background: #000;
    color: #FFF;
}


header div.menu-principal #menu-nav > li > ul.sub-menu > li > a,
header div.menu-principal #menu-nav > li > ul.sub-menu > li > ul.sub-menu > li > a{
    text-decoration: none;
    width: 100%;
    display: block;
}
/** IE **/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

    /* header div.menu-principal #menu-nav > li > a:focus + ul.sub-menu{
        display: block;
    } */

}




/** FIN MENU **/

/** DEBUT FORMULAIRE DE RECHERCHE ET CHOIX LANGUE **/
header div.menu-principal > nav > div.searchLang{
    position: absolute;
    right: 0;
    /* bottom: 55px; */
    top:0px;
    height: 10rem;
    width: 10rem;
}
header div.menu-principal > nav > div.searchLang > #searchForm > #submitSearch{
    border: none;
    height: 3rem;
    width: 3rem;
    position: absolute;
    /* z-index: -1; */
}

header div.menu-principal > nav > div.searchLang > #searchForm{
    height: 3rem;
    position: absolute;
    top: 4rem;
    transform: translateY(-50%);
    right: 10rem;
    margin-top: 0rem;
}
header div.menu-principal > nav > div.searchLang > #searchForm .searchLabel{
    display: block;
    position: absolute;
    height: 3rem;
    opacity: 0;
    width: 3rem;
    transition: right 0.5s linear;
    z-index: 1;
}
header div.menu-principal > nav > div.searchLang > #searchForm #search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scaleX(0);
    right: 5rem;
    transition: transform linear 0.2s;
    transform-origin: right;
    height: 100%;
    width: 26rem;
    font-size: 2rem;
}
header div.menu-principal > nav > div.searchLang > #searchForm #search:focus{
    transform: translateY(-50%) scaleX(1);
}
header div.menu-principal > nav > div.searchLang > #searchForm button[type="submit"]{
    border: none;
    background-color: transparent;
    height: 100%;
    padding:0;
    position: relative;
    width: auto;
}

header div.menu-principal > nav > div.searchLang > #searchForm button[type="submit"] img{
    height: 100%;
}

header #searchForm .searchLabel {
    display: block;
    position: absolute;
    height: 3rem;
    opacity: 0;
    width: 3rem;
    transition: right 0.5s linear;
    z-index: 1;
}


header div.menu-principal > nav > div.searchLang > #lang{
    position: absolute;
    right: 2rem;
    transform: translateY(-50%);
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    top: 4rem;
    width: 2rem;
}
header #searchForm #search:focus {
    transform: translateY(-50%) scaleX(1) !important;
}
header div.menu-principal > nav > div.searchLang > #lang li a{
    text-decoration: none;
    color:#000;
    text-transform: uppercase;
    letter-spacing: -0.05rem;
}
header div.menu-principal > nav > div.searchLang > #lang li{
    color: #000;
    text-decoration: none;
    display: block;
    width:3rem;
    padding-left: 1rem;
    text-align: left;
}
header div.menu-principal > nav > div.searchLang > #lang li:first-child, header #lang li:nth-child(2){
    margin-bottom: 0.5rem;
    border-bottom: 2px solid #000;
}
header div.menu-principal > nav > div.searchLang > #lang a:focus,
header div.menu-principal > nav > div.searchLang > #lang a:hover{
    font-weight: bold;
}
#breadcrumb{
    list-style: none;
    padding: 0;
    margin-left:4rem;
    font-size: 1.5rem;
}
#breadcrumb li{
    display: inline-block;
}
#breadcrumb li a{
    color: #000;
    text-decoration: none;
}
#breadcrumb li a:hover,
#breadcrumb li a:focus{
    text-decoration: underline;
}

/** FIN **/
#lastNews{
    margin-left: 4rem;
    margin-right: 4rem;
    position: relative;
}
.filterContainer .list{
    padding: 0;
    padding-top:2rem;
    margin: 0;
    margin-left: -1.25rem;
    list-style: none;
    position: relative;
    width: calc(100% + 2.5rem);
    clear: both;
}
.filterContainer .list li{
    width: calc(((100% / 3) - 2.5rem) - 4px);
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.filterContainer .newsList.list li a{
    text-align: left;

}
.filterContainer .newsList.list li a h3{
    font-weight: normal;
    font-size: 2.4rem;
    transition: font-weight 0.2s linear;
}
.filterContainer .list li .titleProfile{
    text-align: center;
    border: solid 2px #000;
    width: 80%;
    margin-left: 10%;
    margin-top: -4rem;
    z-index: 10;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .filterContainer .list li .titleProfile{
        position: absolute;
        width: 50%;
        margin-left: 25%;
        bottom: -2rem;
    }
    .filterContainer .list li {
        margin-bottom: 10rem !important;
        overflow: visible;
    }
    .filterContainer .list li .portrait .hover.thumbnail{
        top: 1.7rem !important;
    }
	/* IE10+ CSS */
	.filterContainer .list li .color{
		opacity:0.4;
	}
}
@supports (-ms-ime-align:auto) {
    /* IE10+ CSS */
	.filterContainer .list li .color{
		opacity:0.4;
	}
}
/* Microsoft Edge Browser 12+ (All) - one-liner method */
_:-ms-lang(x), _:-webkit-full-screen, .filterContainer .list li .titleProfile{
    position: absolute;
    width: 50%;
    margin-left: 25%;
    bottom: -2rem;
}
_:-ms-lang(x), _:-webkit-full-screen, .filterContainer .list li {
    margin-bottom: 10rem !important;
    overflow: visible;
}

.filterContainer .list li a:hover .titleProfile,
.filterContainer .list li a:focus .titleProfile{
    background-color: #000;
    border: none;
    border-bottom: solid 4px #F7A25A;
}
.filterContainer .list li .titleProfile h3{
    margin-top: 1rem;
    margin-bottom: 0;
}
.filterContainer .list li .titleProfile p{
    margin-bottom: 1rem;
    margin-top: 0;
}
.filterContainer .list li a{
    color: #000;
    text-decoration: none;
    text-align: center;
    width: min-content;
    height: 100%;
    display: block;
    vertical-align: top;
    display: grid;
    position: relative;
}
.filterContainer .list li a{
    width: 100%;
}
.filterContainer .list li a.portrait{
    width: 95%;
}
.filterContainer .list li a:hover h3,
.filterContainer .list li a:focus h3{
    font-weight: bolder;
}
.filterContainer .list li .thumbnailContainer{
    height: 36rem;
    position: relative;
    transition: all linear 0.2s;
    overflow: hidden;

}
.newsList .list li .color,
.filterContainer .list li .color{
	width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    position: absolute;
    z-index: 9;
}
.filterContainer .list li .color1{
	background-color: #e8b2e8;
}
.filterContainer .list li .color2{
	background-color: #b2e3e8;
}
.filterContainer .list li .color3{
	background-color: #e8b2b2;
}

.filterContainer .list li .color4{
	background-color: #e8d7b2;
}
.filterContainer .list li .color5{
	background-color: #b2e8bb;
}
.filterContainer .list li .color.portraits{
	background-color: #eac185;
}
.filterContainer .list li .portrait .thumbnailContainer,
.filterContainer .list li .portrait .thumbnail.hover{
    height: 40rem;
}
.newsList li .color6{
    background-color: #fbb591;
}

.filterContainer .list li .thumbnail{
    height: 100%;
    /* Polyfill Object-fit for IE, Edge */
    font-family: 'object-fit: cover;';
    object-fit: cover;
    transition: all linear 0.2s;
    margin-left: 50%;
    margin-top: 44%;
    transform: translate(-50%,-52%);
}
.filterContainer .list.profilesList li a:not(.portrait):hover .thumbnail,
.filterContainer .list.profilesList li a:not(.portrait):focus .thumbnail{
    height: 29rem;
}

.filterContainer .list li .thumbnail.article{
    margin: 0;
    width: 100%;
    transform: none;
}
.filterContainer .list li .portrait .thumbnail.hover{
    position: absolute;
    height:104%;
    top:0;
    z-index: 4;
    width: 100%;
    background-color: #F7A25A;
    opacity: 0;
    overflow: hidden;
    mix-blend-mode: color;
    transition: opacity 0.1s linear;
}
.filterContainer .list li a:hover .thumbnailContainer img.thumbnail,
.filterContainer .list li a:focus .thumbnailContainer img.thumbnail{
    height: 110%;
}
#home .filterContainer .list li a:focus h3,
#home .filterContainer .list li a:hover h3{
    font-weight: bold;
}
.filterContainer .list li a.portrait:hover .thumbnail.hover,
.filterContainer .list li a.portrait:focus .thumbnail.hover{
    opacity: 0.7;
}
.filterContainer .list li{
    margin-bottom: 4rem;
    vertical-align: top;
}
.filterContainer .list li:nth-child(3n+2) a{
    margin-left: auto;
    margin-right: auto;
}
.filterContainer .list li:nth-child(3n+3) a{
    margin-left: auto;
}
.filterContainer p{
    margin: 0;
}
.filterContainer button.next,
.filterContainer button.previous{
    margin-top: 5rem;
}
.filterContainer button:nth-of-type(2){
    position: absolute;
    right: 0;
}


.filterContainer{
    margin-left: 4rem;
    position: relative;
    width: calc(100% - 8rem);
}
#filter{
    width: 100%;
}
#filter ul{
    padding: 0;
    list-style: none;
    margin: 0;
    margin-left: -0.6rem;
    width: calc(100% + 1.2rem);
}
#filter ul li{
  display: inline-flex;
  height: 100%;
  margin-bottom: 1rem;
  min-width: calc(100% / 14);
}

#keys{
    padding-top:0;
}
#content #keys h1{
    padding: 0;
    margin: 0;
}
#keys ul{
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    margin-bottom: 1rem;

}
#keys ul li{
    display: inline-block;
    width: calc( 25% - 3px);
    text-align: center;
    height: 100%;
    vertical-align: top;
    margin-bottom:30px;
}
#keys ul li img{
    width: 13rem;
}
#keys ul p{
        padding: 0;
        margin: 0;
        width: 100%;
}
#keys ul p::first-line{
    font-size: 7rem;
    font-weight: bold;
}


#keys ul li a{
    text-decoration: none;
    display: block;
    bottom: 0;
    color: #000;
}
#keys ul li a:hover,
#keys ul li a:focus{
    text-decoration: none !important;
    font-weight:bold !important;
}
#home h2,
#content h1{
    font-size: 4rem;
    font-weight: normal;
    margin: 4rem 0;
}

#content h1:first-of-type{
    font-weight: bold;
}

#home h3,
#content h2{
    font-size: 5rem;
    font-weight: normal;
    margin: 2rem 0 1rem 0;
}
#lastNews > h2{
    font-weight: bold;
}
#newsletters{
    padding-left: 4rem;
    padding-right: 4rem;
    position: relative;
}
#newsletters form{
    position: absolute;
    top: 0;
    width: calc(100% - 8rem);
    height: 100%;
}
#newsletters form input{
    width: 64%;
    height: 100%;
    border: solid 1px #000;
    position: absolute;
    right: 19rem;
    font-size: 2rem;
    padding-left: 2rem;
}
#newsletters form input + label{
    width: auto;
    transform: translate(0,-50%);
    transition: top linear 0.15s, left linear 0.15s, font-size 0.15s linear;
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
}
#newsletters form input[value=""] + label{
    left: 27rem;
    top: 50%;
    font-size: 2rem;
}
#newsletters form input:focus + label,
#newsletters form input + label{
    top: 0;
    left: 26rem;
    font-size: 1.5rem;
}
#newsletters form button{
    right: 0;
    position: absolute;
    width: 14.5rem;
    height: 100%;
    border-radius: 0;
    background-color: #000;
}
#newsletters form button img{
    height: 70%;
    left: 10%;
    position: absolute;
    top: 15%;
}
#newsletters form button p{
    margin: 0;
    padding-right: 24%;
    font-size: 1.2rem;
    text-align: right;
    text-transform: uppercase;
}
#modale{
    position: fixed;
    bottom: 0;
    top: 0;
    right:0;
    left:0;
}
#modale::before{
    content:" ";
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: #000;
    height: 100vw;
    opacity: 0;
    transition: all linear 0.3s;
}

.modal{
    position: fixed;
    bottom: 0;
    top: 0;
    width: 30vw;
    background-color: #FFF;
    color:#000;
    height: 100vw;
    padding: 2rem;
    transition: all linear 0.3s;
    transform: translateX(-100%);
}
#modale.open{
    z-index: 100;
}
#modale.open::before{
    opacity: 0.6;
}
.open .modal{
    transform: translateX(0%);
}
.modal h1{
    border-bottom: solid 1px #000;
}
.modal button.close{
    position: absolute;
    right: 2rem;
    top: 2rem;
    border: none;
    height: 4rem;
    width: auto;
    transition: all linear 0.1s;
}
.modal button.close:hover,
.modal button.close:focus{
    background-color: transparent;
    height: 4.5rem;
    top: 1.75rem;
    right: 2.25rem;
}
.modal button.close img{
    height: 100%;
}
.modal.left{
    left:0;
}

table{
    width:100% !important;
}
footer{
    width: calc(100% - 8rem);
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 4rem;
    padding-bottom: 1rem;
    position: relative;
    clear: both;
}
footer div.header{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 8rem;
}

footer div.header div.left,
footer div.header div.right{
  width:70%;
  display: flex;
  flex-wrap: wrap;
}

footer div.header div.right{
  width: 30%;
  padding-top:1rem;
}

footer div.header div.right div.float-right{
  margin-right: 0;
  margin-left: auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

footer div.header div.left a{
  min-width: 48%;
  /* display: flex; */
  min-height: 6rem;
  margin: auto;
  margin-left:0;
  text-decoration: none;
  text-align: center;
  font-size: 3rem;
}

footer div.header div.right a{
  width: calc(100% / 4);
  background-color: transparent;
  color: #FFF;
  height: 6rem;
  display:flex;

}

footer div.header div.right a img,
footer div.header div.right a p{
  width: auto;
  height: 3rem;
  margin:auto;
}

footer div.header div.left a img{
  height: auto;
  width: 6rem;
}

footer div.header div.left a img,
footer div.header div.left a p{
  display: inline-block;
  vertical-align: middle;
}

footer div.header div.left a p{
  margin: 0;
}

footer div.header div.right div.float-right a:hover img,
footer div.header div.right div.float-right a:focus img{
    height: 4rem;
    /* margin-top: 0.5rem; */
}
footer div.header div.left a:hover img,
footer div.header div.left a:focus img{
    transform: rotate(-15deg);
}

footer div.header div.left a:hover p,
footer div.header div.left a:focus p{
  font-weight: bold;
}
/* footer div:nth-child(1),
footer div:nth-child(2){
    display: inline-block;
}
footer div:nth-child(2){
    position: absolute;
    right: 4rem;
} */
/* footer div:nth-child(1) a,
footer div:nth-child(2) a{
    height: 5rem;
    display: inline-block;
    position: relative;
    margin-top: 4rem;
}
footer div:nth-child(1) a:not(:first-child){ */
    /* margin-left: 1rem;
} */
/* footer div:nth-child(1) a{
    width: 35rem;
    background-color: #000;
}
footer div:nth-child(2) a{
    position: absolute;
    right: 4rem;
    transition: right 0.1s linear ;
}
footer div:nth-child(2) a:nth-child(1){
    right: 8rem;
}
footer div:nth-child(2) a:nth-child(2){
    right: 0;
}

footer div:nth-child(2) a:hover:nth-child(2),
footer div:nth-child(2) a:focus:nth-child(2){
    right: -0.5rem;
}
footer div:nth-child(1) a img,
footer div:nth-child(2) a img{
    width: auto;
    height: 4.5rem;
    margin-left: 2rem;
    margin-top: 0.1rem;
    transition: transform 0.1s linear;
    transform: rotate(0deg);
}
footer div:nth-child(2) a img{
    height: 3rem;
    margin-top: 1rem;
    margin-left: 0;
    transition: height 0.1s linear, margin-top 0.1s linear;
}
footer div:nth-child(2) a:hover img,
footer div:nth-child(2) a:focus img{
    height: 4rem;
    margin-top: 0.5rem;
}
footer div:nth-child(1) a:hover img,
footer div:nth-child(1) a:focus img{
    transform: rotate(15deg);
}
footer div:nth-child(1) a:nth-child(2):hover img,
footer div:nth-child(1) a:nth-child(2):focus img{
    transform: rotate(-15deg);
}
footer div:nth-child(1) a p{
    position: absolute;
    display: block;
    top: 50%;
    margin: 0;
    left: 8rem;
    transform: translateY(-50%);
    font-size: 3rem;
}
footer div:nth-child(1) a:hover p,
footer div:nth-child(1) a:focus p{
    font-weight: bold;
} */
footer .partenaires{
    width: 100%;
    margin-top: 5rem;
}
footer .partenaires img{
    width: 100%;
}
footer .navList{
    padding: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}
footer .navList li{
    display: inline-block;
    margin-right: 1.5rem;
    position: relative;
}
footer .navList li:not(:first-child):before{
    content: ' ';
    width: 0.5rem;
    display: block;
    border-bottom: solid 1px;
    position: absolute;
    top: 50%;
    left: -1.2rem;
}
footer .navList li a{
    text-decoration: none;
}
footer .navList li a:hover,
footer .navList li a:focus{
    text-decoration: underline;
}
.orange footer
.news footer,
.orange-light  footer,
.blue footer{
    border-top: none;
}
#profile .profileDetail h1{
    margin-top: 0;
    /* font-size: 2.5rem; */
    font-weight: bold;
}
#profile .profileDetail h1::first-line{
    font-size: 4rem;
}
#profile .profileDetail > p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 94%;
}
#profile .profileDetail .share{
    margin-bottom: 4rem;
}
#profile .profileDetail .share ul{
    list-style: none;
    margin: 0;
    display: inline-block;
}
#profile .profileDetail .share h2,
#profile .profileDetail .share ul li{
    display: inline-block;
}
#profile .profileDetail .share ul li{
    text-decoration: underline;

}
#profile .profileDetail .share ul li img{
    height: 2.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: all linear 0.1s;
    transform: scale(1);
}
#profile .profileDetail .share ul li:last-child img{
    height: 3rem;
}
#profile .profileDetail .share ul li a:hover img,
#profile .profileDetail .share ul li a:focus img{
    /* height: 3.2rem; */
    transform: scale(1.2);

}
#profile .left{
    width: 50%;
    float: left;
    margin-bottom: 4rem;
}
#profile .right{
    width: 50%;
    float: right;
    margin-bottom: 4rem;
    margin-left: 4rem;
}
#profile .right img{
    width: 100%;
}
blockquote{
    font-size: 4rem;
    color: #36A2A6;
    margin: 0;
    font-family: 'Oswald';
    font-weight: 300;
    font-style: italic;
}
.link a{
    color: #f05915;
    text-decoration: none;
}

/* .link a:hover,
.link a:focus{
    text-decoration: underline;
} */
.orange footer,
#filter ul li button,
header .menu-info div:nth-child(2) a,
header .menu-info div:first-child a{
    background-color: #f05915;
}
#keys{
    border-bottom: solid 4px #000;
    border-top: 4px solid #000;
}

#filter ul li a:hover,
#filter ul li a:focus{
    background-color: #000;
    border: solid 1px #000;

}
.white footer div:nth-child(1) a{
    color: #fff;
}
.orange footer div:nth-child(1) a,
.news footer div:nth-child(1) a{
    color: #f05915;
}
header .menu-principal #menu-nav  li .sub-menu li a,
 #filter ul li button{
    background-color: #FFF;
    color: #000;
}
#filter ul li button{
    border: solid 2px #000;
}
 #filter ul li a.pressed,
 #filter ul li a:hover,
 #filter ul li a:active,
 #filter ul li a:focus,
 #filter ul li a.current{
    background-color: #000;
    color: #FFF;
}

 #filter ul li a:hover,
 #filter ul li a:active,
 #filter ul li a:focus{
    text-decoration: underline;
}

.orange-light  footer,
.orange-light  header .menu-info div:nth-child(2) a,
.orange-light  header .menu-info div:first-child a{
    background-color: #FDA752;
}
.orange-light  footer div:nth-child(1) a{
    color: #FDA752;
}
.blue footer,
.blue header .menu-info div:nth-child(2) a,
.blue header .menu-info div:first-child a{
    background-color: #36A2A6;
}
.blue footer div:nth-child(1) a{
    color: #36A2A6;
}
body,
button:active,
footer .navList li a,
#keys{
    color: #000;
}
body,
button,
#home #command button,
.filterContainer .list li .titleProfile,
#keys ul li a,
#newsletters form input + label,
.news footer div:nth-child(1) a,
.orange footer div:nth-child(1) a,

.orange-light footer div:nth-child(1) a,
.blue footer div:nth-child(1) a{
    background-color: #FFF;
}

#ap_projet, #ns_soutenir{
    overflow: hidden;
}

.orange-light #footer ul li a,
.blue #footer ul li a,
#newsletters form button,
.white footer,
.news footer,
.orange footer,
.orange-light footer,
.blue footer,
.news footer .navList li a,
.orange-light footer .navList li a,
.blue footer .navList li a,
button:active,
.filterContainer .list li a:hover .titleProfile,
.filterContainer .list li a:focus .titleProfile,
header .menu-info div:first-child a{

    color: #FFF ;
}

/** Formulaire notification publication **/
.form-msg{
  border: 2px solid #f05915;
  padding: 1rem;
  display: block;
  margin-bottom: 1rem;
}

@media  (max-width:1400px) {
    .filterContainer .list{
        display: flex;
        flex-wrap: wrap;
    }
    .filterContainer .list li {
        width: calc(33% - 2.5rem);
    }
    #filter ul{
        height: auto;
    }
    .filterContainer .list li a{
        width: 100%;
    }
    .filterContainer .list li .thumbnail{
        width: 100%;
        margin: 0;
        transform: none;
    }
    #newsletters form input{
        width: calc((100% - 19rem) - 28rem);
    }
}
header .menu-principal #menu-nav li.opened .sub-menu,
header .menu-principal #menu-nav li.openedLittle .sub-menu{
    transform: scale(1,1);
    margin-bottom: 11px;
}
.home header img.SIG{
    position: absolute;
    top: -1rem;
    right: 4rem;
    width: 7.5rem;
}
footer .SIG{
    position: absolute;
    bottom: 1rem;
    right: 3rem;
    width: 8rem;
}
.les_appels{
    padding-top:2rem;
}

main.site-main a.seeAllAPP{
  display: flex;
  width: 30rem;
  height: auto;
  min-width: 10rem;
  padding: 1.5rem;
  border: 2px solid #000;
  text-decoration: none;
  color: #000 ;
}
main.site-main a.seeAllAPP:hover,
main.site-main a.seeAllAPP:focus{
  background: #000;
  color:#fff ;
}
main.site-main a.seeAllAPP p{
  margin:0;
  margin:auto;
}


#menu-button{
    display: none;
}
header div.menu-principal nav #menu-nav-mobile{
    display: none;
}


@media  (max-width:1024px) {
    header div.menu-principal {
        border:none;
    }
    header div.menu-principal nav #menu-nav {
        display:none;
    }
    header div.menu-principal  #menu-button{
        display:block;
        width:5rem;
    }
    header div.menu-principal  #menu-button img{
        width:100%;
    }
    header div.menu-principal nav #menu-nav-mobile{
        background:#f05915;
        padding:4rem;
        font-size:2.2rem;
    }
    header div.menu-principal nav #menu-nav-mobile,
    header div.menu-principal nav #menu-nav-mobile li ul.sub-menu,
    header div.menu-principal nav #menu-nav-mobile li ul.sub-menu li ul.sub-menu{
        list-style: none;
    }
    header div.menu-principal nav #menu-nav-mobile li ul.sub-menu,
    header div.menu-principal nav #menu-nav-mobile li ul.sub-menu li ul.sub-menu{
        padding-left:5rem;
    }
    header div.menu-principal nav #menu-nav-mobile li ul.sub-menu,
    header div.menu-principal nav #menu-nav-mobile li ul.sub-menu li ul.sub-menu{
        display:none;
    }
    header div.menu-principal nav #menu-nav-mobile.menuOpen{
        display: block;
        width:90%;
        font-size:3.5rem;
    }
    header div.menu-principal nav #menu-nav-mobile a span{
        color: #fff;
    }
    header div.menu-principal nav #menu-nav-mobile a:last-child{
        color: #fff;
        text-decoration: none;
        width:80%;
        display: block;
    }
    header div.menu-principal nav #menu-nav-mobile a span.link{
        width: 80%;
        display: inline-block;
        margin-left:5rem;
    }
    span.arrow{
        width: 1px;
        height: 1px;
    }
    span.blank{
        display: inline-block;
        width: 18px;

    }
    #breadcrumb{
        display: none;
    }

    .blue .menu-principal nav > #menu-nav-mobile{
        background:#00A4A5 !important;
    }
    .blue.contrast .menu-principal nav > #menu-nav-mobile{
        background:#235F60 !important;
    }
    .orange.contrast .menu-principal nav > #menu-nav-mobile{
        background:#97391A !important;
    }
    .orange-light.contrast .menu-principal nav > #menu-nav-mobile{
        background:#6F4A29 !important;
    }
    .orange-light .menu-principal nav > #menu-nav-mobile{
        background:#FFA35E !important;
    }

    a.arrow {
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        margin-left: 2rem;
    }

    a.right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    span.left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    span.up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    a.down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}

@media  (max-width: 768px) {
    .filterContainer .list li {
        width: calc(50% - 2.5rem);
    }
    header div.menu-principal > nav > div.searchLang > #lang li a {
        font-size: 2.5rem;
    }
    div.entry-content div.les_appels{
        top: 18rem ;
        margin-bottom: 20rem ;
    }
    div.les_appels div.project.project_open::before,
    div.les_appels div.project.project_close::before{
        font-size: 2.5rem ;
    }
    #filter ul li a{
        font-size:2rem;
    }
    footer div:nth-child(2) a img {
        height: 4rem;
    }
    #main h3,
    .project h3,
    #main .navigation_publi a p,
    #footer div #ns_soutenir > p,
    #footer div #ap_projet > p{
        font-size: 3rem;
    }
    #main p,
    #main h4,
    #primary p,
    #main ul li,
    #breadcrumb,
    .project p,
    .navList li a{
        font-size: 2.5rem;
    }

	#home .newsList li:nth-child(3){
		display:none;
	}
    #filter{
        position: relative;
    }

    /* #home #command button{
        width: 3.5rem !important;
        height: 3.5rem !important;
    } */

    button:hover,
    button:focus{
        background-color: #FFF;
    }
    header .menu-principal #menu-nav li a{
        font-size: 4vw;
    }
    .filterContainer .list{
        padding-top: 0;
    }

    header #breadcrumb{
        font-size: 2rem;
    }
    header #breadcrumb{
        font-weight: bold;
        margin-bottom:2rem;
    }

    header .menu-principal #menu-nav li .menu-title {
        font-size: 5vw;
    }
    #profile .profileDetail h1{
        font-size: 6vw;
    }
    #profile .profileDetail h1{
        font-size: 4.5vw;
    }
    #profile .profileDetail p{
        font-size: 2.5rem;
    }
    div.navigation_publi a p{
        font-size: 2.5vw ;
    }
    html{
        font-size: 1vw;
    }
    footer .partenaires-footer{
        display: none;
    }

     #lastNews .list li:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)){
         display: none;
    }

    #content h1{
        margin-top: 15rem;
    }

    button{
        width: 44%;
    }
    #filter{
        width: 100%;
    }
    .profileDetail{
        padding-top: 15rem;
    }
}
div.navigation_publi{
  display: flex;
  flex-wrap:wrap;
}

div.navigation_publi a,
div.navigation_publi a{
    color: #000 !important;
    border: solid 2px #000;
    width: 33.5rem;
    height: 5rem;
    font-size: 2.5rem;
    text-decoration: none;
    text-align: center;
    margin:auto;
    display: flex;
}

div.navigation_publi a:hover,
div.navigation_publi a:hover,
div.navigation_publi:focus{
    color: #FFF !important;
    background-color: #000 !important;
}

#categories{
    width: 100%;
    margin-bottom: 4rem;
}
#filter br{
    display:none;
}
#categories br{
    display: none;
}

#categories a:hover,
#categories a:focus{
    color: #FFF;
    background-color: #000;
}

#filter a{
  border: solid 0.2rem #000;
  text-align: center;
  padding: 1.5rem;
  color: #000;
  text-decoration: none;
  width: 100%;
  font-size: 1.5rem;
}

.bold{
    font-weight: bold;
}

.whoiam {
    list-style-type: none;
 }
 .whoiam li:before {
    content: '';
    display: block;
    height: 1px;
    width: 1rem;
    background-color: #000;
    position: absolute;
    margin-left: -3rem;
    margin-top: 1rem;

 }
 .page-subtitle{
     color:#FF3102;
 }

 .puce-subtitle:before{
    content: '';
    display: inline-block;
    background-color: #FF3102;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-right: 1rem;
 }

 .profileDetail article{
     display:inline-block;
     min-height:60vh;
     height:auto;
 }

 .partenaires li{
    list-style: none;
    display: inline-block;
    width: 48%;
    height: 20rem;
    vertical-align: middle;
    margin-bottom: 2rem;
    text-align: center;
 }

 .partenaires li a:hover img{
    -webkit-filter: sepia(0);
	filter: sepia(0);
 }

 .partenaires li img{
    transform: translateY(-50%);
    top: 50%;
    position: relative;
    max-width: 100%;
    max-height: 100%;

 }
 .partenaires li a{
    display: block;
    width: 100%;
    height: 100%;
    position:relative;
 }

 .partenaires li a{
     cursor:pointer;
 }

 .partenaires li a:hover .overlay,
 .partenaires li a:focus .overlay{
     width:100%;
 }
 .overlay{
    margin-top: 0;
    width: 0;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow:hidden;
    opacity: 0.8;
    transition:0s ease;
 }
 .overlay h2{
    text-decoration: none;
    color: #fff;
 }

 ul.partenaires br,
 ul.partenaires li br,
 ul.partenaires li a p{
     display:none;
 }

 footer ul.partenaires-footer{
    background: #fff;
    list-style: none;
    height: 15vw;
    position: relative;
    padding: 0;
    margin:0;

 }


 footer ul.partenaires-footer li a{
    width: 100%;
    height: 100%;
    display: block;
 }

 footer ul.partenaires-footer li:nth-child(1){
    position: absolute;
    width: 14%;
    height: auto;
    left: 0.50%;
    top: 3%;
 }

 footer ul.partenaires-footer li:nth-child(2){
    position: absolute;
    left: 13%;
    width: 16%;
    top: 3%;
 }
 footer ul.partenaires-footer li:nth-child(3){
    position: absolute;
    left: 29%;
    width: 20%;
    top: 3%;
 }
 footer ul.partenaires-footer li:nth-child(4){
    position: absolute;
    left: 49%;
    top: 3%;
    width: 14%;
 }
 footer ul.partenaires-footer li:nth-child(5){
    position: absolute;
    left: 64%;
    width: 14%;
 }
 footer ul.partenaires-footer li:nth-child(6){
    position: absolute;
    left: 81%;
    width: 8%;
 }
 footer ul.partenaires-footer li:nth-child(7){
   position: absolute;
    width: 6%;
    left: 93%;
    z-index: 0;
    top: 1%;
 }
 footer ul.partenaires-footer li:nth-child(8){
    position: absolute;
    width: 10%;
    top: 45%;
    left: 1%;
 }
 footer ul.partenaires-footer li:nth-child(9){
    position: absolute;
    top: 45%;
    left: 11%;
    width: 19%;
 }
 footer ul.partenaires-footer li:nth-child(10){
    position: absolute;
    left: 31.5%;
    top: 45%;
    width: 8%;
 }
 footer ul.partenaires-footer li:nth-child(11){
    position: absolute;
    width: 20%;
    left: 40%;
    top: 50%;
 }
 footer ul.partenaires-footer li:nth-child(12){
    position: absolute;
    left: 61%;
    top: 47%;
    width: 17%;
 }
 footer ul.partenaires-footer li:nth-child(13){
    position: absolute;
    left: 80%;
    width: 11%;
    top: 53%;
 }

 footer ul.partenaires-footer li:nth-child(14){
   position: absolute;
  width: 6%;
  left: 92.5%;
  top: 55%;
 }
 footer ul.partenaires-footer li a img{
    max-width: 100%;
    max-height: 100%;
}

/** Appels à projets **/
.project{
    border: 1px solid #333;
    padding: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    position: relative;
}
.project_open_es, .project_open, .project_open_en{

    margin-right: auto;
    margin-left: auto;
    border: 1px solid #f1592c;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #f1592c;
    border-left: 1px solid #f1592c;
    padding-top: 40px;
    background: #fafafa;
}
.project_open_es h3, .project_open h3, .project_open_en h3{
  width: 60%;
}
.project_close,
.project_close_en, .project_close_es{
    margin-right: auto;
    margin-left: auto;
    border: 1px solid grey;
    border-left: 1px solid grey;
    padding-top: 40px;
    background: #eee;
}

.project.project_open::before {
    content: "Appel à projets en cours";
    position: absolute;
    background: #f1592c;
    color: #fff;
    font-weight: 400;
    font-size: 90%;
    font-style: italic;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
}
.project.project_open_en::before {
    content: "Call for projects in progress";
    position: absolute;
    background: #f1592c;
    color: #fff;
    font-weight: 400;
    font-size: 90%;
    font-style: italic;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
}

.project.project_open_es::before {
    content: "Convocatorias abiertas";
    position: absolute;
    background: #f1592c;
    color: #fff;
    font-weight: 400;
    font-size: 90%;
    font-style: italic;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
}
.project.project_close_es::before {
    content: "Convocatorias cerradas";
    position: absolute;
    background: grey;
    color: #fff;
    font-weight: 400;
    font-size: 90%;
    font-style: italic;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
}
.project.project_close_en::before {
    content: "Closed call for projects";
    position: absolute;
    background: grey;
    color: #fff;
    font-weight: 400;
    font-size: 90%;
    font-style: italic;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
}
.project.project_close::before {
    content: "Appel à projets clos";
    position: absolute;
    background: grey;
    color: #fff;
    font-weight: 400;
    font-size: 90%;
    font-style: italic;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
}
.project_open a:focus,
.project_open a:hover,
.project_close a:focus,
.project_close a:hover,
{
    text-decoration: none;
    color: #922a0b;
}
.project_close a,
.project_open a{
    color: #f1592c;
}

.project > img{
    /* width: 14vw;
    height: auto;
    position: absolute;
    top: 4vw;
    right: 1vw; */
}

.imgTopRight{
    margin-right: 1rem;
    max-width: 15rem;
    height: auto;
    position: relative;
    top: -9.5rem;
    float: right;
}
.site-main figure{
    max-width:100% !important;
    margin: 0;
}
div.entry-content figure figcaption{
    font-style: italic;
    color: grey;
    font-size: 1.4rem;
}


/** Actualités **/
div.navigation_publi > a > p,
a > #next,
a > #previous{
    /* transform:translateY(0.4vw); */
    margin:auto;
}

#filter ul li.current-cat a {
    background:#000;
    color:#fff ;
}

.newsList > li a h3{
    font-size: 2.4rem !important;
    transition: font-weight 0.2s linear;
}
.newsList article:hover h3,
.newsList article:focus h3{
    font-weight:bold;
    text-decoration:underline;
}

/** custom style wordpress **/
img.imgPictoLeftList{
    float: left;
    margin-right: 3rem;
    width: 7rem;
    height: auto;
}
img.imgActuRight{
    float:right;
    margin-left: 1rem;
}
img.imgLarge{
    width:100% ;
    display:block;
    height:auto ;
}
/** fin custom style wordpress **/

.orange footer .navList li a {
    color: #fff;
}
.white footer {
    color: #000 !important;
}



.blue .site-main a,
.blue #content blockquote{
    color: #36A2A6;
}
.white .site-main a,
.orange .site-main a,
.orange #content blockquote,
.orange blockquote,
.white blockquote,
.white #content blockquote{
    color: #f05915;
}

#content blockquote{
    line-height: 4rem;
}
.orange-light .site-main a,
.orange-light #content article a,
.orange-light #content blockquote{
    color: #FDA752;
}
/* .navigation_publi a:nth-child(1){
    left: 0px;
}
.navigation_publi a:nth-child(2){
    right: 0px;
    position: absolute;
} */
.orange-light .paragraph-orange{
    border: 2px #FDA752 solid;
    padding: 15px;
}
.paragraph-orange{
    border: 2px #FF4E27 solid;
    padding: 15px;
}
.paragraph-bleu{
    border: 2px #36A2A6 solid;
    padding: 15px;
}
iframe{
    width: 100%;
    /* height: 13vw; */
    height: 60vh;
    margin-top:2rem;
}

@media (max-width: 1400px){
    #filter a{
        padding:1.2rem;
    }
}

/** Formulaite de contact **/
.site-main form input[type=text],
.site-main form input[type=email]{
    width: 50%;
    height: 3rem;
    font-size: 1.5rem;
}
.site-main form textarea{
    width: 50%;
    font-size: 1.5rem;
}

.site-main form input[type=submit]{
    color: #fff;
    background-color:#EE5927;
    border-color: #EE5927;
    width: auto;
    height: 4rem;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0;
}
.blue .site-main form input[type=submit]{
    color: #fff;
    background-color: #3CA2A5;
    border-color: #3CA2A5;
    width: auto ;
    height: 4rem;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0;
}
.navigation .current{
    font-weight: bold;
}
.navigation{
    margin-left: 4rem;
    margin-right: 4rem;
}
.navigation a,
.navigation .page-numbers{
    color: #FFA35E;
    width: 15%;
    display: inline-block;
}

/** résulats de recherche **/
div.search-result h2.entry-title a{
    color:#000 ;
    text-decoration: none;
}

div.search-result h2.entry-title:hover,
div.search-result h2.entry-title:focus{
    text-decoration:underline;
}

div.search-result article.search-article{
    border-bottom: 1px solid #000;
}

div.search-result article.search-article img{
    width: 20%;
    height: 20rem;
    object-fit: cover;
}

div.search-result article.search-article div{
    width:100%;
    display: inline-block;
}

div.search-result article.search-article a + div{
    width:76%;
    margin-left:2%;
    vertical-align: top;
}

div.search-result article.search-article > a{
    text-decoration: none;
}

div.search-result article.search-article header{
    margin-top: 0px;
}

div.search-result article.search-article img{
    margin-top: 2rem;
    margin-bottom:2rem;
}

div.search-result article.search-article:first-child{
    border-top: 1px solid #000;
}

.newsList > li > article > a {
    color: #000 !important;
}

div.wpcf7-mail-sent-ok,
div.wpcf7-response-output{
    border: 2px solid #f05915 !important;
}

@media (max-width: 772px){
    .imgTopRight{
        top:-11.5rem;
    }
}

@media (max-width: 420px){
    .imgTopRight{
        top: -18.5rem;    }
    header #lang{
        font-size:2.5rem;
    }
}

.contrast.orange header .menu-info div a,
.contrast.orange footer{
    background: #97391A;
}
.contrast.orange footer #ns_soutenir,
.contrast.orange footer #ap_projet,
.contrast.orange .site-main  a,
.contrast.orange #content blockquote,
.contrast.orange .project_open strong,
.contrast.orange .project_close strong {
    color: #97391A !important;
}

.contrast.orange #filter a{
    color:#000 !important;
}
.contrast.orange #filter .current-cat a{
    color:#fff !important;
}

.contrast.orange .paragraph-orange{
    border: 2px #97391A solid;
}

.contrast.orange .project_open{
    border: 1px solid #97391A !important;
}
.contrast.orange .project_open::before{
    background:#97391A;
}

.contrast.orange .project_close::before{
    background: #545454;
}

.contrast.blue header .menu-info div a,
.contrast.blue footer{
    background: #235F60;
}
.contrast.blue footer #ns_soutenir,
.contrast.blue footer #ap_projet,
.contrast.blue .site-main a,
.contrast.blue #content blockquote
{
    color: #235F60;
}

.contrast.blue .paragraph-bleu{
    border: 2px #235F60 solid;
}

.contrast.orange-light header .menu-info div a,
.contrast.orange-light footer{
    background: #6F4A29;
}
.contrast.orange-light footer #ns_soutenir,
.contrast.orange-light footer #ap_projet,
.contrast.orange-light .entry-content a,
.contrast.orange-light #content blockquote{
    color: #6F4A29 !important;
}

.contrast.orange-light .paragraph-orange{
    border: 2px #6F4A29 solid;
}

#handitested{
    width: 14rem;
    position: absolute;
    right: 12rem;
    bottom: 2rem;
}

.home #handitested{
    width: 14rem;
    position: absolute;
    right: 4rem;
    bottom: 2rem;
}

@media (max-width:1024px){
    .blue .menu-principal nav > #menu-nav{
        background:#00A4A5 !important;
    }
    .blue.contrast .menu-principal nav > #menu-nav{
        background:#235F60 !important;
    }
    .orange.contrast .menu-principal nav > #menu-nav{
        background:#97391A !important;
    }
    .orange-light.contrast .menu-principal nav > #menu-nav{
        background:#6F4A29 !important;
    }
    .orange-light .menu-principal nav > #menu-nav{
        background:#FFA35E !important;
    }
    .orange .menu-principal #menu-nav li.opened{
            height: auto;
            background-color: #cc470d !important;
    }
    .orange-light .menu-principal #menu-nav li.opened{
        height: auto;
        background-color: #ff9347 !important;
    }
    .blue .menu-principal #menu-nav li.opened{
        height: auto;
        background-color: #009191 !important;
    }

    .contrast.orange .menu-principal #menu-nav li.opened{
        height: auto;
        background-color: #97391A !important;
    }
    .contrast.orange-light .menu-principal #menu-nav li.opened{
        height: auto;
        background-color: #6F4A29 !important;
    }
    .contrast.blue .menu-principal #menu-nav li.opened{
        height: auto;
        background-color: #235F60 !important;
    }
}

.es_llmadas{
    width:41rem !important;
}
