html{
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: arial !important;
}

body{
  font-size: 1.5rem;
  font-family: arial !important;
  width: 80%;
  margin: auto;
}

label{
    display: block;
}

input[type=email]{
    width: 50%;
    height: 3rem;
    font-size: 1.5rem;
}

input[type=submit]{
    color: #fff;
    background-color: #EE5927;
    border-color: #EE5927;
    width: auto;
    height: 4rem;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0;
}

span.message{
  border: 2px solid #f05915;
  padding: 1rem;
  display: block;
  width: 40%;
  margin: auto;
  margin-bottom: 1rem;
  margin-left: 0;
}
